@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ICON */
 .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 24
}

/* ICON END */
/* BASIC RESET & GENERAL STYLE */
*, *::before, *::after {
    padding: 0;
    margin: 0;
}
:root {
    --primarycolor : #16423C;
    --backgroundcolor: #E9EFEC;
    --secondarycolor: #C4DAD2;
    --accentcolor: #6A9C89;
    --mobilefontsize: 1rem;
    --desktopfontsize: 1.025rem;
    --desktopfontsize: 1.25rem;
    --bodyfontfamily: "Open Sans", "Merriweather",   "Roboto", "Montserrat";
    --headerfontfamily:"Poppins","Roboto", tahoma, Helvetica;
}
html {
    box-sizing: border-box;
scroll-behavior: smooth;
}

body {
    background-color: var(--backgroundcolor);
    font-size:var(--mobilefontsize);
    font-family: var(--bodyfontfamily);
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: bold;
}
h1, h2, h3 {
    font-family: var(--headerfontfamily);
}
/* GENERAL STYLE END */


/* HEADER STYLE START */
header.mainheader { width: 100%;
    height: max-content;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
background-image: url(images/pexels-anastasia-shuraeva-5705485.jpg);
}
div.headerTop {
    top: 0;
}
div.header, div.headerTop {
    background-image: unset;
    height: 70px;
    text-align: center;
    background-color: var(--primarycolor);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
div h1 {
    font-size: 1rem;
}

/* Nav overlay */
.overlay {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top:0;
     background-color:#6A9C89;
    overflow-x: hidden;
    display: block;
    transition: 0.5s ease-in-out;
 }
.overlaycontent {
    display: flex;
    flex-direction: column;
      align-items: stretch;
     position: relative;
    height: 100%;
    margin-top: 10rem;
     width:100%;
    text-align: left;
    justify-content: baseline;
 }
#indexnav .overlaycontent  a,
 #aboutnav .overlaycontent  a,
  #storenav .overlaycontent  a,
   #supportnav .overlaycontent  a {
    padding: 15px;
    background-color: rgba(255, 250, 250, 0.731);;
    border-bottom: 1px solid seagreen;
    text-decoration: none;
    font-size:1rem;
display: block;
transition: 0.2s ease-in-out;
color: black;
}
#indexnav .overlaycontent  a:hover,
 #aboutnav .overlaycontent  a:hover,
   #storenav .overlaycontent  a:hover,
    #supportnav .overlaycontent  a:hover,
#indexnav .overlaycontent  a:focus,
 #aboutnav .overlaycontent  a:focus,
  #storenav .overlaycontent  a:focus, 
#supportnav .overlaycontent  a:focus { 
    color: var(--primarycolor);
  scale: 1.025;
 border-bottom: 1px solid seagreen;
text-decoration: underline;
 }
.overlay .closebutton {
    position: absolute;
    top: 3rem;
    right: 100px;
    font-size: 24px;
    color: white;
}
/* open overlay button */
    .nav-overlay { 
        display: block;
        z-index: 1100;
        width: 30px;
        background:  transparent;
        font-size: 30px;
        height: 25px;
        padding: 10px;
        cursor: pointer;
        border: none;
     }
    div.headerp {
            text-align: center;
        margin-top: 20px;
    }
    div.headerp p {
       font-weight: 900;
       font-size:.6rem;
       color:white;
        opacity: 1;
    }
/* HEADER STYLE END */

/* MAIN STYLE START */
div.h2 {
    text-align: center;
    padding: 25px;
    margin: 3rem auto;
    background: linear-gradient(0.25turn,  #C4DAD2 25%, #c5dcd0 50%, #bdd4c9 75%,  #6A9C89 100%  );
}
/* Image style */
img {
    display: block;
    max-width: 100%;
    height: auto;
 }
div.imagecontainer {
    position: relative;
}
div.imageitem, .sectionimage {
    position: inherit;
    width: 50%;
    height: auto;
    margin: 1rem auto;
}
.image {
    border-radius: 10px;
    position: relative;
    position: inherit;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--accentcolor);
   }
#image {
    transition: none;
    border-bottom: none;
}

.show:hover {
    margin: 1.5rem;
    left: 30;
    right: 30;
   z-index: 10000;
   position: relative;
   max-width: 100%;
   height: auto;

}

 figcaption {
     padding-top: 10px;
   }
 figcaption:hover {
font-weight: 600;  }
 /* Image style end */

 /* button style start */
.mybutton {
   text-align: center;
   display: block;
   font-weight: bold;
}
.btn {
    height: 60px;
    width: 200px;
    position: relative;
    color: white;
    text-align: center;
    background-color: var(--primarycolor);
    margin: 2rem 0 2rem 0;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    transition: 2s ease-in;
 }
.btn:hover, .btn:focus {
    background-color:#1f5851d6;
translate:  5px;
scale: 1.025;

}
/* button style end */
hr {
    height: 2px;
    width: 100%;
    background-color:#6A9C89;
    margin: 1rem 0 ;
}

/* first section style */
section.content {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}
div.contenttext {
    display: inherit;
    flex-direction: column;
    gap: 30px;
  padding: 10px;
}

/* first section style end */
/* paragraph style */
p {
    color: #333;
}
p:hover {
    color: black;
}
/* paragraph style end */
/* second section style/ social */

section.social {
    text-align: center;
    margin: 1.4rem 0;
}
/* second section style end*/
/* third section image flex style start*/
section.imageflex{
    position: relative;
  }

/* third section style end*/
/* MAIN STYLE START END */

/* scroll to top button */
button.scrollbutton {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 10px;
    z-index: 1000;
    border: none;
    outline: none;
    background-color:#16423C;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
 }
/* 
#marBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
    border: none;
    outline: none;
    background-color:#16423C;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
} */

/* FOOTER STYLE START */
footer { width: 100vw;
    background-color: var(--primarycolor);
    color: white;
}
.footer {
    display: grid;
    grid-template-columns: 1fr;
 }
/* footer button and input  style */

div.search {padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    height: 30px;
    width: 100%;
}
button#button {  
    font-size: 18px;
    background-color: var(--accentcolor);
}
button#button:hover {
    background-color: #315145;
    color: #ffff;
}
::placeholder {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}/* footer button and input   style end*/

/* footer links style */
a.link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px;
    width: 150px;
margin: 1rem;
}
a.link:active {
    color: white;
    
}
a.link:hover {
     text-decoration: underline;
 }
a.link:visited {
    color: whitesmoke;
    text-decoration: none;
 }
 /* footer links style end */
 /* footer h3 style */ 
 footer h3 {
    margin: 1rem;
 }
 #button, #email {
    width: 180px; border: inherit;
 }
 #contact {
    margin-top: 5rem;
 }
 #contact p {
    color: white;
    text-align: center;
 }
 /* footer h3 style end */


/* FOOTER STYLE START END*/

/* ABOUT PAGE STYLE */
#buttonhome {
    position: relative;
    width: 50px;
    height: 50px;
    outline: none;
     cursor: pointer;
    background-color: inherit;
 }
#buttonhome .bar {
    position: inherit;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
     height: 10px;
    border: 3px solid black;
}
#about-container {
    padding: 10px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    line-height: 2;
}
.list-Items li {
    list-style:square;
}
/* STORE PAGE STYLE */
.storeli li {
list-style: none;
}
#about-container section p {
    padding: 10px;
    display: block;
}
div.abouth1 h1{
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem auto;
}
#about-container section  h2, h3,h4 {
    margin: 1rem auto;
    font-size: 1.2rem;
}
#about-container section ul {
 margin-left: 2rem;
 }


a.aboutlink {
    color:#16423C;
text-decoration: none;}
a.aboutlink:hover {
text-decoration: underline;
color: #16423C;}
a.aboutlink:visited {
color: #16423C;}




/* MEDIA QUERIES FOR TABLETS AND DESKTOPS */

@media screen and (min-width:600px) and (max-width:1023px) {

    #aboutnav, #indexnav, #supportnav, #storenav  {
        display: block;
    }
  
body {
    font-size: 1.020rem;
}
.header h1 {
    font-size: 1.025rem;
}
div.headerp p { 
    font-size: 1.09rem;
}
.footer {
   
     font-size: 1.015;
}


div#contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top:3rem;
    padding: 0;
    box-sizing: border-box;
}
}
@media screen and (min-width:1024px)  {
  .footer {
        display: flex;
    flex-flow: row nowrap;
    }
body {
    font-size: 1.25rem;
}
/* Header */
.header h1 {
    font-size: 2.5rem;
}

.header, .headerTop {
    position: static;
    top: 0;
    padding: 15px;
    margin: 10rem 0 15rem ;
     width: 100vw;
}
.headerp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

div.headerp p {
    font-size: 2.1rem;
}  
    
/* NAVBAR */
.overlay {
    height: auto;
    width: 100%;
    display: flex;
    }


.overlaycontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    width:100%;
    padding: 30px;
    margin-top: 0%;
  }
  #indexnav .overlaycontent  a,
  #aboutnav .overlaycontent  a,
   #storenav .overlaycontent  a,
    #supportnav .overlaycontent  a {
    padding: 30px;
    font-size:1.5rem;
display: inline-block;
 }

/* disable toggle buttons and overlay */
.nav-overlay {
    display: none;
}
.overlay .closebutton { 
    display: none;
}
/* NAVBAR END*/

/* Image style */
div.imageitem {
     max-width: 100%;
   }
  
.imagecontainer  {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
flex-flow: row nowrap;}


div.mybutton { display: flex;
    flex-flow: unset;
align-self:center;
justify-content: center; 
}

/* sctions */
div.h2 h2 {
    font-size: 2.5rem;
}
.btn {
    margin: 10rem 0 2rem 0;

    width: 320px;
    height: 90px;
    font-size: 1.2rem;
}
figcaption {
    font-size: 1.5rem;
}
.price {
    font-size: 1.4rem;
}


/* company goals section style*/
/* goals image */
div.sectionimage {
    height: 50%;
    position: relative;
    padding: 0;
    margin: 0;
 }
#image {
    position: relative;
    top: 0;
    height: auto;
    border-radius: unset;
    width: 100%;
    height: 600px; 

 }
section.content { gap: unset;
    display: flex;
    flex-direction: row;
     align-items: center;
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: auto;
     width: 80%;
    justify-content: center;
}
div.contenttext {
   width: 50%;
   padding: 20px;
    margin: 2rem auto;
    background-color:#C4DAD2;
   height: 559px; 
   text-align: center;
}
h2.contexth2 {
    font-size: 3rem;
    margin-top: 3rem auto;
}
 p.contentp {
    padding: 35px;
    font-size: 2rem;
    text-align: left;
 }

 /* follow us section */
 .social h3 {
    font-size: 3rem;
 }
 .social p {
    font-size: 1.7rem;
 }
 /* footer style */
footer div.footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-evenly;
}
a.fl {
    font-size:2rem;
 }
.h2 p {
    font-size: 2rem;
}
 div.footlink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
 }
.fsubscribe {
    font-size: 1.5rem;
}
footer h3{ 
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 0;
}
button#button {
    width: 200px;
}
div#contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 4rem auto;
     padding: 0;
    box-sizing: border-box;
}
div#contact div p {
     font-size: 2rem;
    margin-bottom: 3rem;
}
.fsubscribe {
    color:#fff;
    font-size: 2rem;
    margin: 0 auto 2rem;
}
div.search {
    height: 70px;}

    button#button {
        width: 300px; border: inherit;
     }
     #email {
        width: 350px;
     }
/* ABOUT PAGE STYLE */
#about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-container   p {
    padding: 10px;
    display: block;
    font-size: 2rem;
}
div.abouth1 h1{
    font-size: 4rem;
    text-align: center;
    margin: 1rem auto;
}
#about-container section  h2, h3,h4 {
    margin: 1rem auto;
    font-size: 3rem;
}
#about-container section ul {
 margin-left: 2rem;
 }
#about-container section ul li {
    font-size: 1.6rem;
 }

    }

